@model ForgotPasswordViewModel
@{
    var ReturnUrl = ViewBag.ReturnUrl;
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="auth-panel">
            <div class="auth-panel-inner">
                <div style="display:flex; " class="flex-btw">
                    <h2>Forgot Password?</h2>
                    <div><a asp-action="Index" asp-controller="home">back to Home</a></div>
                </div>
                <div asp-validation-summary="All"></div>
                <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                    <p><input asp-for="Email" placeholder="Email" autocomplete="off" /> </p>
                    <button type="submit" class="btn btn-primary">Enter</button>
                </form>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <p>@ViewBag.Message</p>
                }
            </div>
        </div>
    </main>
</div>
